<footer class="py-12 bg-center bg-cover bg-no-repeat text-white" style="background-image: url('{{.Site.BaseURL}}images/bg-outer-space.jpg');">
  <div class="content">
    <div class="flex flex-col items-center md:flex-row md:-mx-4">
      <div class="md:w-1/4 md:px-4">
        <img src='{{ "images/logo_karisma.svg" | absURL }}'>
      </div>
      <div class="mt-10 md:mt-0 md:w-1/4 md:px-4">
        <img src='{{ "images/logo_ds_v.svg" | absURL }}'>
      </div>
      <div class="mt-10 md:mt-0 md:w-1/4 md:px-4">
        <div class="flex flex-col items-center">
          <p class="font-medium uppercase font-oswald tracking-widest">Comparte</p>
          <div class="flex items-center justify-center mt-4">
            <a href="#">
              <img src='{{ "images/twitter.svg" | absURL }}' alt="">
            </a>
            <a href="#" class="ml-4">
              <img src='{{ "images/email.svg" | absURL }}' alt="">
            </a>
            <a href="#" class="ml-4">
              <img src='{{ "images/facebook.svg" | absURL }}' alt="">
            </a>
          </div>
        </div>
      </div>
      <div class="mt-10 md:mt-0 md:w-1/4 md:px-4">
        <div class="flex flex-col items-center">
          <img src='{{ "images/creative_commons.svg" | absURL }}'>
          <p class="text-xs mt-4">Todo el material en esta página, cuando no se indique lo contrario, es CC-BY-SA. Si reusas o adaptas recursos de esta página por favor vincúlalos y referéncialos.</p>
        </div>
      </div>
    </div>
  </div>
</footer>